:root {
  --color-active: #e6db74;
  --color-bg: #232425;
  --color-text: #a9a9b3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-size: 1.25rem;
  background-color: var(--color-bg);
  color: var(--color-text);
}

.wrapper {
  min-height: 100%;
  max-width: min(100% - 2rem, 40rem);
  margin: 0 auto;
}

h1 {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.slider {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.radio {
  display: block;
  height: 0%;
  width: 0%;
}

.slider__images {
  width: 100%;
  overflow-x: hidden;
}

.slider__text {
  width: 70%;
  overflow-x: hidden;
  margin-top: 1rem;
}

.slider__controls {
  width: 30%;
  margin-top: 1rem;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.images__line {
  width: 500%;
  display: flex;
  align-items: center;
  background-color: #000;
  transition: all 0.5s ease-in-out;
}

.meme_img {
  width: 100%;
}

.meme_img > img {
  width: 100%;
}

.text__line {
  width: 500%;
  height: 100%;
  display: flex;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.text {
  width: 100%;
}

.slider__controls > label {
  padding: 1.5rem calc(2rem / 3);
}

.slider__controls > label:hover {
  cursor: pointer;
}

.control__btn {
  width: 1rem;
  height: 1rem;
  border: calc(3rem / 16) solid var(--color-text);
  border-radius: 50%;
  transition: all 0.5s ease;
}

.slider__controls > label:hover > .control__btn {
  background-color: var(--color-text);
}

@media screen and (max-width: 48rem) {
  h1 {
    padding-top: 0rem;
    padding-bottom: 0.5rem;
  }

  .slider__images {
    order: 1;
  }

  .slider__text {
    width: 100%;
    order: 3;
    margin-top: 0.5rem;
  }

  .slider__controls {
    width: 100%;
    order: 2;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
  }

  .slider__controls > label {
    padding: 1rem;
  }
}
